@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap'); 

:root {
  --font-primary : 'Raleway', sans-serif;
  --font-secondary: 'IBM Plex Mono', monospace; 
}

 * { 
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

.hero{
    width:100% ;
    height:740px;
    background-color: rgb(0, 0, 0); ;
}

.menu {
    max-width:1110px ;
    height:70px ;
    background:#1B1B1B;
    margin:auto ;
    border-radius:8px 8px ;
    display: flex;
    justify-content:space-between;
    padding-left: 95px;
    padding-right: 95px;
    
}

.menu ul {
    display: flex;
    gap: 35px;
  list-style: none;
}

.menu ul a {
  font-size: 14px;
  color: #9C9C9C;
  text-decoration: none;
  display: block;
  padding: 25px;
  list-style: none;
  padding: 25px 20px;
  transition: all 0.5s ease;
  font-family: var(--font-secondary)
  
}

    .menu ul a:hover {
    color:#f0f0f0;
    background:rgb(83, 83, 84);
    border-radius: 20px;
   }

   .menu .icons {
   transition: all o.5s ease;
   gap: 20px;
   width: auto;
   height: 70px;
   display: flex;
   align-items: center;

    }

    .menu .icons a:hover {
    transition: scale(1.5);
    background-color:#585258;
    border-radius: 10px;
    }

   .principal{
   width: 888px;
   display: flex;
   margin: auto;
   margin-top: 80px;
    }
     
     .principal_descripcion {
     padding-right: 46px;
     }
        
   .principal_descripcion h1{
    font-weight: 10px;
    font-size:44px;
    margin-top: 50px;
    margin-bottom: 20px;
    color:#ffffff;
    font-family:var(--font-primary);
       }

    .principal_descripcion p {
     line-height: 2em;
     width: 492px;
     height: 72px;
     margin-top: 20px;
     font-family: var(--font-secondary);
     font-size: 14px;
     color: #9C9C9C;
    }

    .principal_descripcion a{
    background: #3F8E00;
    color:#ffffff;
    padding: 18px;
    display: flex;
    margin-top: 45px;
    text-decoration: none;
    border-radius:5px;
    font-family: var(--font-secondary);
    font-size:16px; 
    justify-content: center;
    text-align: center;
     width: 307.89px;
    height: 63px;
    box-shadow: 0px 0px 10px #62BA1B;
  }
                 
    .principal_imagen {
    margin-top: 10px;
    margin-right: 35px;
    margin-left: 35px;
     }

   .principal_imagen_formato{
    border-radius: 50%;
    width: 350px;
    height: 350px;
   }
   

.alliances{
flex-direction: column;
display:flex;
width: auto;
width: 888px;
display:flex;
margin:auto;
margin-top:50px;

 }

 .alliances_header  p{
  width: 93px;
  height: 18px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--font-secondary);
  white-space: nowrap;
  font-size: 14px;
 }

.alliances_logos{
  display: flex;
  justify-content: space-between;
}

 .alliances_logos a{
  width: 920px;
  height: 60px;
  border-radius: 6px;
  margin-right: 30px;
 }

.case_studies{
padding-top: 50px;
width: 100%;
height: 1400px;
background-color: #F5F5F5;
}
  
.case_studies_header {
text-align: center;
margin-top: 20px;
justify-content: center;
}

.case_studies_header h1 {
  font-size: 34px;
  font-family: var(--font-primary);
  margin-bottom: 5px;
  color: #080808;
}

.case_studies_header p {
 font-size: 14px;
 font-family: var(--font-secondary);
 line-height: 1.8em;
 text-align: center; 
 color: #9C9C9C;
 margin-bottom: 60px;
}


.case_studies_orange {
  width: 892px;
  height: 300px;
  margin: auto;
 display: flex;
 align-items: flex-end;
  }

.case_studies_description{
 margin-top: 100px;
   }

.case_study_category{
font-family:var(--font-secondary) ;
width: 72px;
height: 24px;
font-size: 12px;
padding: 5px;
color: #FFA217;
background-color: #FFF6E9;
border-radius: 60px;
text-decoration: none;
margin-top: 20px;
}

.case_studies_orange h2 {
  font-family: var(--font-primary);
  font-size: 24px;
  width: 192px;
  height: 28px;
  color: #080808;
  margin-top: 20px;
}

.case_studies_orange p {
font-family: var(--font-secondary);
font-size: 14px;
width: 421px;
height: 96px;
line-height: 1.8em;
color: #9C9C9C;
margin-top: 20px;
}

.case_studies_button {
  background: #FFA217;
  color:#ffffff;
  padding: 10px;
  display: flex;
  margin-top: 40px;
  text-decoration: none;
  border-radius:5px;
  font-family: var(--font-secondary);
  font-size:14px; 
  justify-content: center;
  text-align: center;
  width: 189px;
  height: 39px;
 }

.case_studies_image{
 margin-right: 35px;
 margin-left: 35px;
 display: flex;
align-items: flex-end;
}

.case_studies_image img {
width: 445px;
height: 300px;
display: flex;
gap: 20px;  
}

.case_studies_blue{
display: flex;
width: 950px;
height: 300px;
margin: auto;
margin-top:90px;
align-items: flex-end;
}

.case_studies_description2{
 margin-top: 100px;
 display: flex;
  }

.case_study_category2 {
font-family:var(--font-secondary) ;
width: 72px;
height: 24px;
font-size: 12px;
padding: 5px;
color: #000AFF;
background-color: #D0E6FF;
border-radius: 60px;
text-decoration: none;
margin-top: 20px;
}

.case_studies_blue h2 {
  font-family: var(--font-primary);
  font-size: 24px;
  width: 192px;
  height: 28px;
  color: #080808;
  margin-top: 20px;
}

.case_studies_blue p {
font-family: var(--font-secondary);
font-size: 14px;
width: 421px;
height: 96px;
line-height: 1.8em;
color: #9C9C9C;
margin-top: 20px;
}

.case_studies_button2 {
  background: #000AFF;
  color:#ffffff;
  padding: 10px;
  display: flex;
  margin-top: 40px;
  text-decoration: none;
  border-radius:5px;
  font-family: var(--font-secondary);
  font-size:14px; 
  justify-content: center;
  text-align: center;
  width: 189px;
  height: 38px;
 }

.case_studies_image2{
 margin-right: 35px;
 margin-left: 35px;
 display: flex;
}

.case_studies_image2 img {
width: 445px;
height: 300px;
display: flex;
gap: 20px;  
}

.case_studies_green {
  width: 892px;
  height: 300px;
  margin: auto;
 display: flex;
 align-items: flex-end;
 margin-top: 90px;
  }

.case_studies_description3{
 margin-top: 100px;
   }

.case_study_category3{
font-family:var(--font-secondary) ;
width: 72px;
height: 24px;
font-size: 12px;
padding: 5px;
color: #2AB090;
background-color: #E0FFF8;
border-radius: 60px;
text-decoration: none;
margin-top: 20px;
}

.case_studies_green h2 {
  font-family: var(--font-primary);
  font-size: 24px;
  width: 192px;
  height: 28px;
  color: #080808;
  margin-top: 20px;
}

.case_studies_green p {
font-family: var(--font-secondary);
font-size: 14px;
width: 421px;
height: 96px;
line-height: 1.8em;
color: #9C9C9C;
margin-top: 20px;
}

.case_studies_button3 {
  background: #2AB090;
  color:#ffffff;
  padding: 10px;
  display: flex;
  margin-top: 40px;
  text-decoration: none;
  border-radius:5px;
  font-family: var(--font-secondary);
  font-size:14px; 
  justify-content: center;
  text-align: center;
  width: 189px;
  height: 39px;
 }

.case_studies_image3{
 margin-right: 35px;
 margin-left: 35px;
 display: flex;
align-items: flex-end;
}

.case_studies_image3 img {
width: 445px;
height: 300px;
display: flex;
gap: 20px;  
}

.work-section { 
padding: 80px 0px;
background:#F5F5F5;
margin-top: 40px;
}

.section-header h1{
color: #080808;
font-size: 34px;
font-family: var(--font-primary);
text-align: center;
}

.section-header p{
text-align: auto;
font-size: 14px;
color: #9C9C9C;
margin-top: 20px;
line-height: 1.8rem;
font-family: var(--font-secondary);
text-align: center;
}

.work-card{
display: flex;
gap: 40px;
justify-content: center;
margin-top: 60px;
}

.card-image{
width: 445px;
height: 300px;
}

.card-content1 {
display: inline-block;
margin: auto;
margin-left: 300px;
margin-top: 30px;
}

.card-content2 {
display: inline-block;
margin: auto;
margin-left: 130px;
}

.card-header h2{
font-size: 24px;
font-family: var(--font-primary);
margin-bottom: 30px;
}

.card-header p{
font-size: 14px;
color: #9C9C9C;
margin-top: 20px;
line-height: 1.8rem;
font-family: var(--font-secondary);
margin-bottom:30px;
}

.card-header a{
font-size: 15px;
background: #3F8E00;
color: #ffffff;
width: 40px;
height: 55px;
padding: 10px;
padding-left: 20px;
border-radius: 5px;
text-decoration: none;
box-shadow:#62BA1B;
margin-bottom: 100px;
}

.card-header button{
margin-bottom: 100px;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.contact-container {
  max-width: 440px;
  margin: 0 auto;
  padding: 20px;
}

.contact-title {
  font-family: 'Archivo', sans-serif;
  font-size: 34px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 22px;
}

.contact-text {
  font-family: 'Raleway', sans-serif;
  color: #9C9C9C;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 22px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-group label {
  display: block;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  font-family: 'IBM Plex Mono', monospace;
  color: #757575;
  border: none;
  border-radius: 6px;
  outline: none;
}

textarea {
  height: 100px;
  resize: none;
}

.submit-bttn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: #4CAF00;
  color: #fff;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 14px 0;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(76, 175, 0, 0.7);
  transition: 0.3s ease;
}

.submit-bttn:hover {
  background-color: #3e8e00;
}

.footer {
  background-color: #1b1b1b;
  color: #9C9C9C;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}


/*telefonos*/
@media only screen and (min-width: 375px) and (max-width: 667px)
{
.hero{
 height: auto;
 height: 1050px;
}

.menu{ 
height: 140px;
width: 100%;
display: block;
padding: 0;
overflow-x: hidden;
}

.menu ul {
gap: 1px;
flex-flow: wrap;
margin-top: 5px;
justify-content: center;
line-height:0;
}

.menu .icons {
justify-content: center;
height: auto;
}

.principal {
display: block;
margin-top: auto;
}

.principal_descripcion h1{
font-size: 35px;
margin-left: 45px;
margin-top:30px;
}

.principal_descripcion p{
font-size: 13px;
text-align: left;
margin-left:-62px;
display: block;
white-space: pre-line;
letter-spacing: -1px;
text-align: center;
}

.principal_descripcion a{
font-size: 14px;
display: block;
width: 200px;
height: 45px;
padding: 13px;
margin-top: 20px;
margin-left: 80px;
}

.principal_imagen {
margin-left: 17px;
margin-top: 30px;
}

.principal_imagen_formato {
width: 340px;
height: 340px;
}

.alliances {
display: block;
padding: 5px;
margin-top: 10px;
width: auto;
}

.alliances_header p {
margin-left: 20px;
margin-top: 0px;
}

.alliances_logos {
margin-right: 10px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
}

.alliances_logos a{
width: 80%;
height: auto;  
}

.case_studies{
height: 1930px;
}

.case_studies_header h1{
font-size: 23px;
margin-bottom: 20px;
}

.case_studies_header p {
word-spacing: -2px; 
text-align: center;
width:100%;
font-size: 12px;
white-space: pre-line;
}

.case_studies_orange{
margin-top: 10px;
display: block;
}

.case_study_category{
margin-left: 10px;
}

.case_studies_orange h2 {
font-size: 20px;
margin-left: 10px;  
}

.case_studies_orange p {
font-size: 13px;
word-spacing: -3px; 
margin-left: 10px;
}

.case_studies_button{
width: 145px;
font-size: 12px;
margin-top: 15px;
margin-left:10px;
}

.case_studies_image{
margin-left: 10px;
}

.case_studies_image img{
width: 350px;
}

.case_studies_blue{
margin-top: 100px;
display:block;
}

.case_studies_image2{
margin-left: 10px;
}

.case_studies_image2 img{
width: 350px;
margin-top: 380px;
position: absolute; 
}

.case_studies_descripcion2{
margin-top: 150px;
margin-left: 10px;
}
.case_studies_blue h2 {
font-size: 20px;  
}

.case_studies_blue p {
font-size: 13px;
word-spacing: -3px; 
}

.case_studies_button2{
width: 145px;
font-size: 12px;
margin-top: 15px;
}

.case_studies_green{
display: block;
}
.case_studies_descripcion3{
margin-top: 390px;
margin-left: 10px;
}
.case_studies_green h2 {
font-size: 20px;  
}

.case_studies_green p {
font-size: 13px;
word-spacing: -3px; 
}

.case_studies_button3{
width: 145px;
font-size: 12px;
margin-top: 15px;
justify-content: center;
}

.case_studies_image3{
margin-left: 10px;
}

.case_studies_image3 img{
width: 350px;
}

.work-section{
padding: 50px;
margin-top: 250px;
}

.work-card{
display: block;
}

.card-image{
margin-left: 0px;
height: 0px;
display: flex;
flex-direction: column; 
align-items: center;
position: relative;
}

.card-image1 img{
width: 300px;
height: 250px;
margin-top: 0px;
position: absolute;
margin-bottom:1000px ;
}

.card-image2 img{
width: 300px;
height: 250px;
margin-top: 550px;
margin-bottom: 60px;
position: absolute;
}

.card-content1{
margin-left: 0px;
position: relative;
margin-top: 300px;
display: inline-block;
}

.card-content2{
margin-left: 0;
position: relative;
margin-top:300px;
display: inline-block;
}

.card-content1 h1{
position: absolute;
z-index: 1;
}

.card-content2 h1{
position: absolute;
z-index: 1;
}


}

/*Mini Ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

.hero{
width: 100%;
}

.menu{
padding: 10px;
height: 110px;
display: block;
gap: 10px;
white-space: nowrap;
}
.menu ul {
gap: 20px;
padding-left: 20px;
}

.menu .icons {
justify-content: center;
height: 15px;
}

.principal{
margin-top: 30px;
padding-left: 20px;
}

.principal_descripcion h1{
font-size:42px ;
}

.principal_descripcion p{
display: block;
white-space: pre-line;
letter-spacing: -1px;
width: 390px;
}

.principal_descripcion a{
 width: 240px; 
}

.principal_imagen{
margin-left: 2px;
margin-top: 20px;
}

.principal_imagen_formato {
height: 290px;
width: 290px;
margin-right: 30px;
}
 
.alliances {
width: auto;
}

.alliances_header p {
margin-left: 20px;
}

.alliances_logos {
margin-left: 10px;
gap:20px;
display: grid;
grid-template-columns: repeat(3, 1fr);
}

.alliances_logos a{
width:30px;
height: 60px;
margin-right: 40px;
}

.case_studies{
height: 1250px;
}

.case_studies_header p {
word-spacing: -2px; 
text-align: center;
width:100%;
font-size: 12px;
white-space: pre-line;
}

.case_studies_orange {
margin-top: 10px;
display: flex;
}

.case_studies_description {
margin-top: 0px;
margin-left: 20px;
}

.case_study_category{
margin-left: 20px;
}

.case_studies_orange h2 {
font-size: 20px;
margin-left: 20px;  
}

.case_studies_orange p {
font-size: 13px;
word-spacing: -3px; 
margin-left: 20px;
width: 380px;
}

.case_studies_button{
width: 145px;
font-size: 12px;
margin-top: 15px;
margin-left:20px;
}

.case_studies_image{
margin-left: 0px;
margin-top: 100px;
}

.case_studies_image img{
width: 350px;
}

.case_studies_blue{
margin-top:40px;
}

.case_studies_image2{
margin-left: 10px;
}

.case_studies_image2 img{
width: 350px;
}

.case_studies_descripcion2{
margin-bottom: 30px;
}

.case_studies_blue h2 {
font-size: 20px;  
}

.case_studies_blue p {
font-size: 13px;
word-spacing: -3px; 
}

.case_studies_button2{
width: 145px;
font-size: 12px;
margin-top: 15px;
}

.case_studies_green{
display: flex;
margin-top: 40px;
}

.case_studies_descripcion3{
margin-top: 30px;
margin-left: 20px;
width: 370px;
margin-bottom: 30px;
}

.case_studies_green h2 {
font-size: 20px;  
}

.case_studies_green p {
font-size: 13px;
word-spacing: -3px; 
}

.case_studies_button3{
width: 145px;
font-size: 12px;
margin-top: 15px;
justify-content: center;
}

.case_studies_image3{
margin-left: 10px;
}

.case_studies_image3 img{
width: 350px;
}

.card-image1 img{
width: 300px;
height: 250px;
}

.card-image2 img{
width: 300px;
height: 250px;
}

.card-content1{
margin-left: 0px;
position: relative;
margin-top: 50px;
display: inline-block;
margin-left: 20px;
}

.card-content2{
margin-left: 30px;
position: relative;
margin-top: 0;
margin-top: 40px;
display: inline-block;
}

.card-content1 h1{
position: absolute;
}

.card-content2 h1{
position: absolute;
}


}

/*Ipad Pro*/
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
.hero{
width: 100%;
}

.menu{
padding: 10px;
height: 90px;
display: flex;
gap: 10px;
white-space: nowrap;
}
.menu ul {
gap: 20px;
padding-left: 20px;
}

.menu .icons {
gap: 20px;
width: auto;
height: 70px;
display: flex;
align-items: center;
padding-right: 40px;
}

.principal{
width: 888px;
display: flex;
margin-top: 80px;
}

.principal_descripcion h1{
font-size:44px;
}

.principal_descripcion p{
width: 492px;
height: 72px;
font-size: 15px;
}

.principal_descripcion a{
 width: 240px; 
}

.principal_imagen{
margin-left: 2px;
margin-top: 20px;
}

.principal_imagen_formato {
height: 350px;
width: 350px;
margin-right: 30px;
}
 
.alliances {
width: auto;
margin-top: 20px;
}

.alliances_header p {
margin-left: 20px;
}

.alliances_logos {
display: flex;
}

.alliances_logos a{
width: 150px;
}

.case_studies_orange{
justify-content: center;
}

.case_studies_blue{
justify-content: center;
margin-left: 60px;
}

.case_studies_green{
justify-content: center;
}

.card-image1 img{
width: 445px;
height: 300px;
}

.card-image2 img{
width: 450px;
height: 300px;
}
.card-content1{
margin-left: 0px;
position: relative;
margin-top: 0;
display: inline-block;
margin-left: 50px;
}

.card-content2{
margin-left: 140px;
position: relative;
margin-top: 0;
margin-top: 40px;
display: inline-block;
}

.card-content1 h1{
position: absolute;
}

.card-content2 h1{
position: absolute;
}

}






