Agregar las fuentes 

:root {
    font-primary:
    font-secundary:
}

{ 
  margin: 0;
  padding:0;
  box-sizing: bordex-box;
}

.hero{
    background:black;
    width: ;
    height: ;
}

.menu {
    max-width: ;
    height: ;
    background: ;
    margin: ;
    border-radius: ;
    display: 
    justify-content:
    padding-left:
    padding- rigth:
    font-family:var --font-secundary
    
}

.menu ul {
    display: ;
    gap: 70px;
}

.menu ul a {
    font-size: ;
    color: ;
    text-decoration: 0;
    display: ;
    padding:20;
    transition: ;
    }

    .menu ul a: hover {
        color 
        backgroud
   }

   .menu .icons {
    
   }

   .principal{
    width: ;
    margin: auto ;
    display: block;
    align-items: ;
    margin-top: ;
    
   }

   .principal_descripcion h1 {
    font-weight: ;
    font-size: ;
    color: ;
    font-family: ;
       }

    .principal_descripcion p {
        line-height: 1.71;s
    }